{% extends "bankgre_header.html" %}

{% block content %}
    <div class="">
        <h2 class="mb-4">Lista de Clientes</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Profesión</th>
                    <th>Actividad Económica</th>
                    <th>Empresa</th>
                    <th>Ingresos</th>
                    <th>Deudas</th>
                    <th>Credit Scoring</th>
                    <th>Cliente Actual</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.DNI }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.profesion }}</td>
                        <td>{{ cliente.actividad_economica }}</td>
                        <td>{{ cliente.empresa }}</td>
                        <td>{{ cliente.ingresos }}</td>
                        <td>{{ cliente.deudas }}</td>
                        <td>{{ cliente.credit_scoring }}</td>
                        <td>{{ cliente.cliente_actual|yesno:"Sí,No" }}</td>
                        <td>
                            <a href="{% url 'query_products' cliente.DNI %}" class="btn btn-primary">Productos</a>
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
